section{
    border: 1px solid #ccc;
    max-width: 400px;
    margin:50px auto;
    height: 400px;
    overflow:scroll;

}
section ul{
    list-style: none;
}

section ul li{
    border: 1px solid black;
}