div{
    height:100px;
    width:100px;
    border-top: 12px solid red;
    border-right:12px solid green;
    border-bottom:12px solid black;
    border-left:12px solid rgb(241, 231, 231);
    border-radius: 50%;
    animation-duration: 2s;
    animation-name: loader; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;  
    
}

/* section{
    display: flex;
    justify-content: baseline;
    align-items: left;
} */

body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;    
}

@keyframes loader {
    100%{

        transform: rotateZ(360deg);  
    }
    
}