.container{
    border: 2px solid black;
    width: 70vw;
    margin:0px auto;
    padding: 0 20px 20px 20px;

}

h1{
text-align: center;
}

.button{
    padding:5px;
    width: 15%;
}

.inp{
    padding:5px;
    width: 78%;
   
}

.text{
    
    display:inline;
}

.item{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

span{
    cursor: pointer;
}

.check{
    text-decoration: line-through;
}
